{% extends "base.html" %}
{% block title %}Editar Datos Mascotas{% endblock %}
{% block head %}Editar Datos Mascota: {{mascota.nombre_gato}} {% endblock %}
{% block content %}
<center>
<h3>Editar Informacion</h3>
</center>
    <div class="container">
	    <form method="post" action="" class="col s12">{% csrf_token %}
	    {% include "formularios/form_snippets.html" %}

			    <div class='row'>
				      <button type='submit' name='btn_login' class='btn waves-effect waves-light col s6 m3'>Enviar</button>
				</div>




		</form>
	</div>
{% endblock %}
