
    <div class="row col s12">
        <div class="input-field col s6">
        {% for field in form %}
        	<div class="field.container">
        		{{ field.errors }}
        		{{ field.label_tag }} </br>
        		{{ field }}
        	</div>
        {% endfor %}
    	</div>
	</div>
