{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container">
	<h1>Login</h1>
	{% if message %}
	<b>{{message}}</b>
	{% endif%}


    <form method="post" action="" class="login-form form col s12">{% csrf_token %}
	{% include "formularios/form_snippets.html" %}

              <div class='row'>
                <button type='submit' name='btn_login' class='btn waves-effect waves-light btn'>Entrar</button>

	         	<a class='btn waves-effect waves-light btn' href="{% url 'usuarios:registrar' %}">Registrarse</a>

	         	
	         	<a href="{% url 'social:begin' 'google-oauth2' %}">
	         		<button type='button' name='button' class='btn btn-primary'>Google+</button>
	         	</a>
	         	
	         	<a href="{% url 'social:begin' 'gitLab' %}">
	         		<button type='button' name='button' class='btn btn-primary'>GitLab</button>
	         	</a>


              </div>
   
   <div id="spinner"
			    style="
			        background: #4267b2;
			        border-radius: 5px;
			        color: white;
			        height: 40px;
			        text-align: center;
			        width: 250px;">
						    <div
						    class="fb-login-button"
						    data-max-rows="1"
						    data-size="large"
						    data-button-type="continue_with"
						    data-use-continue-as="true"
						    ></div>
	</div>   


    </form>
	</div>
{% endblock %}
