{% extends "base.html" %}
{% block title %}Formulario Registro Mascotas{% endblock %}
{% block head %}Registro Mascotas{% endblock %}
{% block content %}
<center>
<h3>Registro Mascotas</h3>
</center> 
    <div class="container">
	    <form enctype="multipart/form-data" method="post" action=""  class="col s12">{% csrf_token %}
			{% include "formularios/form_snippets.html" %}
	
              <div class='row'>
                <button type='submit' name='btn_login' class='btn waves-effect waves-light btn"'>Enviar</button>
              </div>
		    </form>




 	</div>
{% endblock %}
