{% extends "base.html" %}
{% block content %}
<center>
<h3>Eliminar Mascota</h3>
</center>
    <div class="container">
	    <form method="post" action="" class="col s12">{% csrf_token %}
	    <p>Seguro Eliminar? "{{ object }}"?</p>

			    <div class='row'>
				      <button type='confirm' name='btn_login' class='btn btn-danger'>Eliminar</button>
				</div>




		</form>
	</div>
{% endblock %}
