<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
    	{% block css %}
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
		  {% endblock css %}

        <title>Aplicacion Rescate Mascotas | {% block title %}{% endblock %}</title>

    </head>
    <body>
    	
   		<nav class="light-blue accent-4">
    			<div class="nav-wrapper">
      				<a href="#" class="brand-logo">Rescate Mascotas</a>
      				<a href="#" data-target="menu-reponsivo" class="sidenav-trigger">
      					<i class="material-icons">menu</i></a>

      					<ul id="nav-mobile" class="right hide-on-med-and-down">
        				<li><a href="{% url 'home' %} ">Inicio</a></li>
        		 		{% if user.is_authenticated %}	
        				<li><a href="{% url 'registro_mascotas' %}">Registro Mascotas</a></li>
        				<li><a href="{% url 'listar_mascotas' %}">Listar Mascotas</a></li>
        				<li><a href="{% url 'logout_view' %}">Salir</a></li>
        		 		{% else %}
   						<li><a href="{% url 'exp4:login_form' %}">Login</a></li>
      			 		{% endif %}	
      					</ul>
    			</div>

  		</nav>

  		
  		<ul class="sidenav" id="menu-reponsivo">
	  		<li class="light-blue accent-4 center-align">
	  			<a class="#ffffff white-text " href="{% url 'home' %}">INICIO</a>
	  		</li>
	  		<li class="light-blue accent-4 center-align">
	  			<a class="#ffffff white-text" href="{% url 'registro_mascotas' %}">REGISTRO MASCOTAS</a>
	  		</li>
	  		<li class="light-blue accent-4 center-align">
	  			<a class="#ffffff white-text" href="{% url 'listar_mascotas' %}">LISTAR MASCOTAS</a>
	  		</li>
	  		<li class="light-blue accent-4 center-align">
	  			<a class="#ffffff white-text" href="{% url 'exp4:login_form' %}">LOGIN</a>
	  		</li>
		</ul>


    		{% block content %}{% endblock %}



  <footer class="page-footer" style="background-color: #00acc1;">
    <div class="container">
      <div class="row">
        <div class="col xl6 offset-xl3 l6 offset-l3  m8 offset-m2 s10 offset-1">
          <h5 class="grey-text text-lighten-3 center">RESCATE MASCOTAS</h5>
          El Sitio Web de Rescates de Mascotas en Chile. <blockquote>By Lagos Zelada | Equipo</blockquote>
          <p><i class="material-icons center left">mail</i> rlagosj@gmail.com</p>
          <p><i class="material-icons center left">phone</i>9990354600</p>
        </div>

      </div>
    </div>
    <div class="footer-copyright teal lighten-2">
      <div class="container">
        Copyright &copy; 2018
        <a href="#!" class="grey-text text-lighten-3 right"><i class="material-icons red-text accent-2 left">favorite_border</i>
          Hecho con amor</a>
      </div>
    </div>

  </footer>
 	{% block javascript %}
		<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.js"></script>
		<script>
		
		$(document).ready(function(){

		// Initialize materialize data picker
		$('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
		$('select').formSelect();

    $('.carousel').carousel({
                            });

    $('.sidenav').sidenav();

		});

  		document.addEventListener('DOMContentLoaded', function() {
    	var elems = document.querySelectorAll('.sidenav');
    	var instances = M.Sidenav.init(elems, options);
  		});

		   var options = {}

    	document.addEventListener('DOMContentLoaded', function() {
		  var elems = document.querySelectorAll('.slider');
		  var instances = M.Slider.init(elems, options);
		  });

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2062834107143102',
      xfbml      : true,
      version    : 'v3.2'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/es_ES/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}

FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});

FB.login(function(response) {
  // handle the response
}, {scope: 'public_profile,email'});

  	</script>
	{% endblock javascript %}
    </body>
</html>
