{% extends "base.html" %}
{% load static %}
{% load carousel_tag %}

{% block content %}
	 <div class="row light-blue accent-4" >
		<div class="col12 s12 m12 l12 light-blue accent-4" align="center" >	    
		  <div class="slider">
			<ul class="slides">
			  <li>
				<img src= "{% static 'imagenes/adoptados/Duque.jpg' %}"> <!-- random image -->
				<div class="caption center-align">
				  <h3>Perro</h3>
				  <h5 class="light grey-text text-lighten-3 ">Es un Perro</h5>
				</div>
			  </li>
			  <li>
				<img src="{% static 'imagenes/adoptados/Apolo.jpg' %}"> <!-- random image -->
				<div class="caption left-align">
				  <h3>Perro</h3>
				  <h5 class="light grey-text text-lighten-3">Este es un Perro</h5>
				</div>
			  </li>
			  <li>
				<img src="{% static 'imagenes/adoptados/Tom.jpg' %}"> <!-- random image -->
				<div class="caption right-align">
				  <h3>Perro</h3>
				  <h5 class="light grey-text text-lighten-3">Este es un Perro</h5>
				</div>
			  </li>
			</ul>
		  </div>
		</div>

		<div class="col12 s12 m12 l12 light-blue accent-4 hide-on-med-and-down" align="center" >
			<div class="row">
				<div class="col s12">
				  <div>
					<span class="white-text">
						<h5>Rescate y Adopciòn de Mascotas</h5>
					</span>
				  </div>
				</div>
			</div>
		</div>
		
	</div>	
	<div class="row" >
		<div class="col s12 m6 l6 ">
			 <div class="row">
				<div class="col s12 right-align">
				  <div class="card">
					<div class="card-action">
						<h5>Rescate</h5>
						<h6>ETAPA UNO</h6>
					</div>
					<div class="card-content">
					  <p>Rescatamos perros en situacion de peligro y/o abandono. los rehabilitamos y preparamos para buscarles un hogar</p>
					</div>
					 <img src="{% static 'img/rescate.jpg' %}">
				  </div>
				</div>
			  </div>
		</div>
		<div class="col s12 m6 l6 ">
			 <div class="row">
				<div class="col s12 left-align">
				  <div class="card">
				   <img width="50%" src="{% static 'img/crowfunding.jpg' %}" >
					<div class="card-action">
						<h5>CROWFUNDING</h5>
						<h6>FINANCIAMIENTO</h6>
					</div>
					<div class="card-content">
					  <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañasy actividades que realizamos para optener financiamiento para seguir ayudando</p>
					</div>
					<a class="waves-effect waves-light btn">CAMPAÑAS</a>
				  </div>
				</div>
			  </div>
		</div>
		<div class="container section">
			{% carousel %}
		</div>
	</div>
{% endblock %}
