			<div class="row">


				<div class="carousel">
			
					<p><h3 class="col s12 m12 pulse blue darken-3 center white-text"> ¡¡¡ADOPTAME!!! 
</h3>		</p>
		  			 {% for imagen in carousel %}
		  			 	
		  		     	<a class="carousel-item" href="#" ><img  src="/media/{{imagen.imagen}}"><h6 class="center">{{imagen.nombre_gato}}</h6></a> 

    				{% endfor %}
				</div>
			</div>

