{% extends "base.html" %}
{% block title %}Informacion Mascota{% endblock %}
{% block head %}{{mascota.nombre_gato}} {% endblock %}
{% block content %}
    <div class="container">
       <div class="section col s12">
          <ul class="collection with-header">
    {% if mascota.nombre_gato %}
      	     <li class="collection-header"><h5>Nombre: {{mascota.nombre_gato}}</h5></li>
             <li class="collection-item">Fecha Registro: {{mascota.fecha_registro}}</li>
      	     
      	     <li class="collection-item">Edad: {{mascota.edad}}</li>
      	     <li class="collection-item">Genero: {{mascota.genero}}</li>
             <li class="collection-item">Tipo: {{mascota.tipo}}</li>
    {% else %}
    	       No registra Nombre
    {% endif %}
	         </ul>
	 <p>
<center>
              <a class='btn waves-effect waves-light col s6 m3' href="{% url 'listar_mascotas' %}">Volver</a>
	         	<a class='btn waves-effect waves-light btn' href="{% url 'editar_mascotas' mascota.id %}">Editar</a>
</center>
	         </p>
        </div>
      </div>

{% endblock %}