{% extends "base.html" %}
{% block title %}Listado Mascotas{% endblock %}
{% block head %}Mascotas{% endblock %}
{% block content %}
<div class="container">
    	<div class="section col s12">
  <ul class="collection with-header">
      	     <li class="collection-header"><h4>Listado Mascotas</h4></li>
    {% for mascota in mascotas %}
      <li class="collection-item"> 
      	<a href="{% url 'detalle_mascotas' mascota.id %}"><img width="150" src="/media/{{ mascota.imagen}}"></a> 
      	<a href="{% url 'eliminar-mascotas' mascota.id %}" class="secondary-content"><i class="material-icons">delete</i></a>
      </li>
    {% endfor %}
  </ul>  
</div></div>
{% endblock %}